body {
	padding: 70px;
}

#post-content {
	padding: 5px 15px 70px 15px ;
	overflow: hidden;
	position: absolute;
}

#commentlist {
	max-width: 390px;
	overflow:hidden;
}

.flyingbox {
	height: 28px;
	padding: 1px;
	position: absolute;
	font-size: 18px;
	overflow: hidden;
}

.comment-input {
	width: 100%;
}

.form-fill {
	width: 100%;
}
