body {
	padding: 70px;
}

#bc-content {
	padding: 5px 15px 70px 15px ;
	overflow: hidden;
	position: absolute;
}

#bc-post {
	max-width: 390px;
	overflow:hidden;
}

.bullet {
	height: 28px;
	padding: 1px;
	position: absolute;
	font-size: 18px;
	overflow: hidden;
}

.bullet-input {
	width: 100%;
}

.form-fill {
	width: 100%;
}
