<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.style }}" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <link rel="shortcut icon" href="{{ site.baseurl }}{{ site.favicon }}" type="image/x-icon" />
</head>
<body>
<div class="container">
	<div class="header">
		<h1>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</h1>
	</div>
	<div class="content">
		{{ content }}
	</div>
	<div class="footer">
		<p>{{ copyright }}</p>
	</div>
</div>
</body>
</html>
