body {
	padding: 70px;
}

#bc-content {
	font-size: 300%;
	padding: 5px;
}

.bc-post {
	margin: auto;
	width: 85%;
}

.bullet {
	width: 250px;
	height: 150px;
	padding: 2px;
	background: #fff;
	border: solid 5px #e54144;
	overflow: hidden;
	position: absolute;
}
